.grid-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: rem($gutter / 2);
  margin: rem($gutter / 2) auto;
  width: 100%;
  max-width: rem(1200px);

  @include media (768) {
    margin: rem($gutter) auto;
    padding: rem($gutter);
  }
}

.grid {
  &-row {
    display: flex;
    flex-wrap: wrap;
    margin: rem($gutter / 2) 0;

    @include media (768) {
      margin: rem($gutter) 0;
    }
  }

  &__item {
    flex: 1;
    padding: rem($gutter / 2);
    margin: rem($gutter / 2);

    @include media (768) {
      margin: rem($gutter);
    }
  }
}

@for $i from 1 through 12 {
  .grid__item--#{$i} {
    //width: calc((100% / 12) * #{$i});
    flex-basis: calc((#{$i} * (100% / 3)) - #{rem($gutter)});

    @include media (768) {
      flex-basis: calc((#{$i} * (100% / 6)) - #{rem($gutter * 2)});
    }

    @include media (1024) {
      flex-basis: calc((#{$i} * (100% / 12)) - #{rem($gutter * 2)});
    }
  }

  .grid__item--offset-#{$i} {
    margin-left: calc(#{$i} * (100% / 3) - #{rem($gutter)});

    @include media (768) {
      margin-left: calc((#{$i} * (100% / 6)) - #{rem($gutter * 2)});
    }

    @include media (1024) {
      margin-left: calc((#{$i} * (100% / 12)) - #{rem($gutter * 2)});
    }
  }
}